<h1 class="text-center mt-1">My APP</h1>
<div style="display: flex; align-items: center; justify-content: center;">
  <div
    *ngIf="!isVerified"
    class="col-md-3 col-sm-3 justify-content-center mt-2"
  >
    <h3>Login</h3>
    <label class="form-label">Name</label>
    <input class="form-control" type="text" [(ngModel)]="name" />
    <label class="form-label">Email</label>
    <input class="form-control" type="email" [(ngModel)]="email" />
    <label class="form-label">Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" />
    <p *ngIf="error" class="text-danger">Please check Email or password</p>
    <button
      type="submit"
      class="btn btn-success mt-2"
      [disabled]="isVerified"
      (click)="onSubmit()"
    >
      Sign In
    </button>
  </div>
</div>
<hello
  *ngIf="isVerified"
  (logOff)="logout($event)"
  [name]="name"
  [email]="email"
></hello>
